.nameBox {
  text-align: center;
  border: 0;
  max-width: 11ch;
  background-color: transparent;
  color: var(--color-grayscale-dark);
  font-weight: 600;
}

.avatar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 10px;
  max-width: 114px;
  width: 114px;
  height: 116px;
}
