:root {
  /* Color palette */
  --color-gray: #afafaf;
  --color-white: #ffffff;
  --color-grayscale-light: #eeeeee;
  --color-grayscale-soft: #e5e5e5;
  --color-grayscale-dark: #3c3c3c;
  --color-green-secondary: #58a700;
  --color-green-primary: #78c800;
  --color-red-secondary: #ea2b2b;
  --color-red-primary: #ff4b4b;
  --color-blue-secondary: #1cb0f6;
  --color-blue-primary: #ddf4ff;
  --bg-red: #ffc1c1;
  --bg-green: #b8f28b;

  --font-title: 35px;

  /* Layout */
  --page-width: 1000px;

  /* Border radii */
  --border-radius: 16px;
  --border-radius-lg: 18px;
}
